<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    </script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
    <nav class="container">
      <div class="link1">
      <a href="#" class="navLinks">StorageDash</a>
      </div>
      <form >
        <input class="nav-searchbar"type="text" name="search" placeholder="Location">
      </form>
      <div class="link2">
        <a href="/auth/listings" class="navLinks">Listings</a>
      </div>
      <div class="/signup">
        <a href="/signup" class="navLinks">Sign Up</a>
      </div>
      <div class="link4">
        <a href="/login" class="navLinks">Login</a>
=======

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


  <meta charset="utf-8">
  <title></title>

</head>

<body>
  <header>
    <nav class="container-fluid navbar navbar-dark bg-dark">
      <div class="link1 float-left">
        <a href="#" class="navLinks ">StorageDash</a>
      </div>
      <div class="right-container row ml-auto">
        <div class="link2">
          <a href="#" class="navLinks">About</a>
        </div>
        <div class="/signup link3 ">
          <a href="#" class="navLinks">Sign Up</a>
        </div>
        <div class="link4 ">
          <a href="/login" class="navLinks pull-right">Login</a>
        </div>
>>>>>>> 17494d1621730826a2064b0637f6f4913f62742d
      </div>
    </nav>
  </header>

  <% if(login){ %>
    <form class="login-container" action="/login" method="post">
      <div class="value-inputs">
        <i class="fa fa-exit"></i>
        <h2>LOGIN</h2>
        <input type="email" name="email" value="" placeholder="example@example.com"><br>
        <input type="password" name="user_name" value="" placeholder="**********"><br>
        <input type="submit" name="submit" value="LOGIN">
      </div><br>
      <a class="link-tag" href="/signup">Signup Here</a>
    </form>
  <% }else if(signup){%>
    <form class="login-container" action="/login" method="post">
      <div class="value-inputs">
        <i class="fa fa-exit"></i>
        <h2>SIGNUP</h2>
        <input type="email" name="email" value="" placeholder="example@example.com"><br>
        <input type="password" name="password" value="" placeholder="new password"><br>
        <input type="password" name="" value="" placeholder="confirm password"><br>
        <input type="submit" name="submit" value="SIGNUP"><br>
        <a class="link-tag" href="/login">Login Here</a>
      </div>
    </form>
<<<<<<< HEAD
    <%}%>

  <div class="banner">
      <img id="banner"src="images/movings.jpeg" alt="">
      <div class="">
        <form class="storage-match" action="index.html" method="post">
          <label for=""></label>
        </form>
      </div>
    </div>
  </body>
=======
    <% } %>

      <div class="container-fluid banner col-md-12">
        <div class="row banner-row">
          <div class="space-container col-md-3">
            <h1>Find storage with StorageDash </h1>
            <div>Discover storage you can trust within your own circle.</div>
            <form class=" storage-match" action="index.html" method="post">
                <br>
              <label for="uLocation"><b>Where?</b></label>
                <br>
              <input type="text" placeholder="Anywhere" name="" value="">
                <br>
              <label style="margin-top: 5px;" for="Space-needed"><b>Space<b></label>
                <br>
            <select class="space-select">
              <option value="underOneMonth">6x6</option>
              <option value="oneToThreeMonths">6x6 to 12x12</option>
              <option value="threeToOneYear">12x12 or more</option>
            </select>
                <br>
              <input type="submit" class="btn " name="submit" value="search">
            </form>
          </div>
        </div>
      </div>

      <div style="margin-top:32px;">
        <div class="col-md-8">
          <h2>Highest rated storage near you!</h2>
        </div>
      </div>





</body>

>>>>>>> 17494d1621730826a2064b0637f6f4913f62742d
</html>
