<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/listing.css">
    <meta charset="utf-8">
  </head>
  <body>
    <!-- <header>
    <nav class="container">
      <div class="link1">
      <a href="#" class="navLinks">StorageDash</a>
      </div>
      <form >
        <input class="nav-searchbar"type="text" name="search" placeholder="Location">
      </form>
      <div class="link2">
        <a href="#" class="navLinks">About</a>
      </div>
      <div class="/signup">
        <a href="/signup" class="navLinks">Sign Up</a>
      </div>
      <div class="link4">
        <a href="/login" class="navLinks">Login</a>
      </div>
    </nav>
  </header> -->
  <h2>Listings</h2>
  <div class="listing-container">
    <div class="listing">
      <div>
        <img class="img" src="/images/house.jpg"></img>
        <div class="cost">24$/hr</div>
      </div>
      <div class="details">
        Seller: NOEL<br />
        Size: 2x4 <br /><br />
        <a href="" style="color:white;text-decoration:none">DETAILS</a>
      </div>
    </div>



  </div>
  </body>
</html>
