<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
 <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
 <link rel="stylesheet" type="text/css" href="/stylesheets/listing.css">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 <meta charset="utf-8">
 <title></title>
</head>
<body>
 <header>
   <nav class="container-fluid navbar navbar-dark bg-dark">
     <div class="link1 float-left">
       <a href="/" class="navLinks ">StorageDash</a>
     </div>
     <div class="right-container row ml-auto">
       <div class="link2">
         <a href="/" class="navLinks">About</a>
       </div>
       <div class="/signup link3 ">
         <a href="#" class="navLinks">Sign Up</a>
       </div>
       <div class="link4 ">
         <a href="/login" class="navLinks pull-right">Login</a>
       </div>
     </div>
   </nav>
 </header>

 <div class="listing-container">
   <div class="listing">
     <div>
       <img class="img" src="/images/house.jpg"></img>
       <div class="cost">24$/hr</div>
     </div>
     <div class="details">
       Seller: NOEL<br />
       Size: 2x4 <br /><br />
       <a href="" style="color:black;text-decoration:none">DETAILS</a>
     </div>
   </div>
 </div>


</body>

</html>
