<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="" method="post">
      <label for="user_name">USER NAME: </label><input type="" name="user_name" value=""><br>
      <input type="submit" name="submit" value="LOGIN"><br>
    </form>
  </body>
</html>
