body{
  font-family: arial;
}
/* Login Section */
.login-container{
  position:absolute;
  left:calc(50% - 150px);
  top: calc(50% - 125px);
  width:300px;
  height:350px;
  background: #3E4651;
  /* background:#2C82C9; */
  border-radius:20px;
  opacity:.95;
}
.login-container input{
  margin-top:20px;
  border:none;
  outline:none;
  width:200px;
  height:30px;
  margin-left: 50px;
}

.value-inputs{
  margin-top:25px;
}
.value-inputs h2{
  font-size:30px;
  color:white;
  text-align:center;
}
/* -------- */
