nav{

}
nav a{

}
.navLinks{
  color: white;

}
.link1{
  float:left;
  font-size:30px;
}

.link2, .link3, .link4{
  margin-right: 2em;
}
#banner{
  height: 90%;
  width: 100%;
}
.banner{
  height:600px;
  position: relative;
}
.banner-row{
  height:600px;
  position: relative;
  width: auto;
  align-items: center;
  background-image:url('/images/movings.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.space-select{
  width: 100%;
  height: 2em;
}
input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    width: 100%;
}

input[type=text]:focus {
    border-color:#33cc33;
}

input[type=submit] {
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top:2em;
    background-color: #33cc33;
    width: 10em;
    color: white;
    font-size: 18px;
    width: 100%
}
.space-container h1{
  color: #4D4B4B;


}


.space-container{
  position:absolute;
  background-color: white;
  padding: 20px;
  padding-bottom: 30px;
  margin-left: 2em;
  border-radius: 5px;
}
.storage-match{
  position: relative;
  color: #4D4B4B;

}
