nav{

}
nav a{
  color: white;
}
nav div{

}
.link1{
  float:left;
  font-size:30px;
}

.link2, .link3, .link4{
  margin-right: 2em;
}
#banner{
  height: 90%;
  width: 100%;
}
.banner{
}
.banner-row{
  height:600px;
  position: relative;
}

.space-container{
width: auto;
height: 400px;
z-index: 10;
position: absolute;

}
